
.search img{
	display: inline;
	padding: 10px;
	width: 80%;
}
.search{
	padding-left: 13%;
}
/* woo commerce style  */
/* .added_to_cart.wc-forward{
	display: none;
} */
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
	font-family: Helvetica Neue;
	font-size: 25px;
	color: #3683CD;
}

.woocommerce ul.products li.product .price {
	font-family: Helvetica Neue;
	font-weight: 100;
	font-size: 15px;
	color: #3C3C3C;
}
.woocommerce ul.products li.product a{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
}
.woocommerce span.onsale{
	background-color: #3683CD;
}
.woocommerce .products ul, .woocommerce ul.products{
	border-top: 1px solid #3683CD;
	padding-top: 20px;
}
.woocommerce .woocommerce-result-count{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 25px;
	color: #3683CD;
}
.woocommerce .woocommerce-ordering select{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3C3C3C;
}
.woocommerce table.shop_table{
	border-radius: 0;
	font-family: Helvetica Neue;
	font-weight: 300;
	font-size: 20px;
	color: #3683CD;
}
.woocommerce a.remove{
	color: #3683CD!important;
}
.woocommerce a.remove:hover{
	background-color: #3683CD!important;
}
.woocommerce .quantity .qty{
	border-radius: 0;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li{
	list-style: none;
	padding: 20px;
	text-align: center;
	background-color: #3683CD;
	border: 1px solid #ffffff;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
	font-family: Helvetica Neue;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
}
.woocommerce-MyAccount-content p{
	font-family: Helvetica Neue;
	font-weight: 300;
	font-size: 20px;
	color: black;
}
.woocommerce-MyAccount-content p strong{
	color: #3683CD;
}
.woocommerce-EditAccountForm.edit-account p label{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3683CD;
}
.woocommerce-EditAccountForm.edit-account p input{
	border-radius: 0;
	border: 1px solid #3683CD;
}

.woocommerce-billing-fields h3, .woocommerce-additional-fields h3, #order_review_heading{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 30px;
	color: #3683CD;
}
.woocommerce-billing-fields__field-wrapper p label{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3683CD;
}
.woocommerce-billing-fields__field-wrapper p input{
	border-radius: 0;
	border: 1px solid #3683CD;
}
.woocommerce-billing-fields__field-wrapper p input{
	border-radius: 0;
	border: 1px solid #3683CD;
}
.woocommerce-additional-fields__field-wrapper p label{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3683CD;
}
.woocommerce-additional-fields__field-wrapper p textarea{
	border-radius: 0;
	border: 1px solid #3683CD;
}
.woocommerce div.product .product_title, .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description h2{

	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 40px;
	color: #3683CD;
}
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-product-details__short-description p, .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description p{
	color: #000000;
	font-family: Helvetica Neue;
	font-weight: 300;
	font-size: 17px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	border-radius: 0;
	color: #ffffff;
	background-color: #3683CD;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after, .woocommerce div.product .woocommerce-tabs ul.tabs li.active::before{
	box-shadow: none;
}
.woocommerce .quantity .qty{
	height: 33px;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	float: none;
	width: 100%;
	max-width: unset;
	clear: both;
 }
  
 .woocommerce-product-gallery img {
	width: 100%;
 }

 .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link, .wp-block-button__link{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
	text-align: left;
 }
 .wc-block-grid__product .wc-block-grid__product-image, .wc-block-grid__product .wc-block-grid__product-title{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 30px;
	color: #3683CD;
	text-align: left;
 }
 .wc-block-grid__product-onsale{
	 display: none;
 }
 .wc-block-grid__product{
	 text-align: left;
 }
 .wc-block-grid__product-price.price{
	color: #000000;
	font-family: Helvetica Neue;
	font-weight: 300;
	font-size: 17px;
 }
 .wc-block-featured-category__title{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 50px;
	color: #ffffff;
 }
 .wpcf7-form.init label{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3683CD;
 }
 .wpcf7-form.init input, .wpcf7-form.init textarea{
	border-radius: 0;
	border: 1px solid #3683CD;
 }
 .wpcf7-form-control.wpcf7-submit{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
	text-align: left;
 }

 .Blog-img img{
	 height: 200px;
	 width: 100%;
 }
 .blog-row{
	 margin: 50px;
 }

 /* Side bar style  */
.widget-title{
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 40px;
	color: #3683CD;
}
.product-categories li, .cat-item{
	list-style: none;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 20px;
	color: #3683CD;
	margin: 5px;
}
.cat-item.children{
	font-size: 15px;
}
.woocommerce-product-search button{
	border-radius: 0;
	background-color: #3683CD;
	font-family: Helvetica Neue;
	font-weight: 500;
	font-size: 15px;
	color: #ffffff;
	width: 70px;
	height: 30px;
}
/* sidebar styling */
.sidebarLeft{
	padding-top: 40px;
	padding-right: 40px;
	border-top: 1px solid #3683CD;
}
.sidebarLeftMain{
	padding-top: 40px;
	padding-left: 40px;
	border-top: 1px solid #3683CD;
}